.hero {
	color: #ffffff;
	text-align: center;
	height: 50vh;
	min-height: 450px;
	background: linear-gradient(45deg, $primary, $secondary);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	a{
		color: white;
	}


	p {
		color: #fff;
	}

	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.hero-text-container {
		width: 600px;
		text-align: left;
		font-weight: 100;

		h1, h2, p, .button {
			text-shadow: none;
		}
	}
}

.image {
	text-align: center;
	img{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

.img-png{
	text-align: center;
	img{
		filter:drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2)); 
	}
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}


#particles-js{background: linear-gradient(45deg, $primary, $secondary);display:flex;vertical-align:bottom;width:100%;min-height:100vh;background-repeat:no-repeat;background-size:cover;background-attachment:fixed}#particles-js .particles-js-canvas-el{width:100%!important;height:100vh!important}.header{z-index:1;text-align:center;color:#fff;position:absolute;top:50%;left:50%;margin:0 auto;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.header .site-title{font-size:50px;display:block;line-height:1;color:#fff}@media only screen and (min-width:550px){.header .site-title{margin:0;font-size:90px}}.header .site-description{font-size:20px;display:block;line-height:1;color:#fff;margin-top:10px}@media only screen and (min-width:550px){.header .site-description{font-size:40px}}.header-links{margin:25px}.header-links .link{color:#fff;text-decoration:none;font-size:15px;margin:10px}@media only screen and (min-width:550px){.header-links .link{font-size:20px}}.header-icons{display:flex;justify-content:center;text-align:center}.down,.header-icons .icon{color:#fff;text-align:center}.header-icons .icon{height:20px;padding:10px;border-radius:50%;border:2px solid #fff;transition:all .7s;width:20px;font-size:20px;margin:5px}.header-icons .icon:active,.header-icons .icon:hover{color:#1a222c;background:#fff}@media only screen and (min-width:550px){.header-icons .icon{width:35px;height:35px;font-size:35px}}.down{position:absolute;bottom:25px;width:100%;margin:0 auto;display:block;font-size:30px;cursor:pointer}.down .icon{position:absolute;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:100px;height:100px;fill:#fff;-webkit-animation:pulse 1.3s infinite;animation:pulse 1.3s infinite}.down .icon:active,.down .icon:hover,.footer a:active,.footer a:hover{color:#4b5664}#about{width:90%;margin:0 auto;max-width:960px}@media only screen and (min-width:550px){#about{width:80%}}.tech{margin:10px}.user{text-align:center;font-size:60px;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between}.user p{font-size:16px}@media only screen and (min-width:550px){.user{flex-wrap:nowrap;font-size:75px}}.user-details{text-align:center;margin:5px auto}#projects{display:flex;flex-direction:column;justify-content:space-between;width:90%;max-width:960px;margin:0 auto}@media only screen and (min-width:550px){#projects{width:80%}}.user-projects{margin:20px auto}.user-projects img{max-width:100%;height:auto;border-radius:5px}.user-projects h5,body{margin:0}.user-projects li{color:#1a222c;font-size:1.1rem}.user-projects p{margin-right:5px}@media only screen and (min-width:550px){.contents{margin-left:0;width:48%}.contents-right{margin-top:-5%}.contents-right,.images-right{float:right;width:48%}.images-right img{float:right}.images-left{float:left;width:48%}.images-left img{float:left}}.project-link{display:inline-block;margin:10px 0;padding:5px;color:#1a222c;background-color:transparent;border:1px solid #1a222c;border-radius:10px;text-align:center;outline:0;text-decoration:none;cursor:pointer;transition:color .3s ease-out,background-color .3s ease-out,border-color .3s ease-out}.project-link:active,.project-link:hover{background-color:#54516a;border-color:#54516a;color:#fff;transition:color .3s ease-in,background-color .3s ease-in,border-color .3s ease-in}.footer{background:#1a222c;padding:10px 0;margin-top:100px;text-align:center;color:#fff}.footer .love{color:red}.footer a{text-decoration:none;margin:0;color:#fff}