$primary: #e37b7c;
$secondary: #ffe4b4;
$terciary: #323b58;
$links: #ffff;
$bottom-links:rgba(255, 255, 255, 0.75);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 1620px)";
$desktop: "(min-width: 768px)";
