$primary: #ffffff;
$secondary: cyan;
$terciary: #000000;
$bottom-links:#ffffffbf;
$font: "Rubik", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
$blogfontsize: 20px;
$herofontsize: 20px;

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 1620px)";
$desktop: "(min-width: 768px)";
