---
import { SITE_TITLE, SITE_OCCUPATION, SITE_BIO } from "../consts";
---

<section>
    <div
        class="max-w-[90rem] mx-auto px-8 pt-8 flex flex-col justify-between h-dvh"
    >
        <!-- Render the default slot content -->
        <slot />

        <div
            class="flex flex-col lg:flex-row lg:justify-between items-start gap-8"
        >
            <div
                class="hero-letters text-[10vw] md:text-[10rem] lg:text-[10rem] leading-[0.85] font-extrabold text-base-900 uppercase"
                aria-hidden="true"
            >
                {SITE_TITLE}
            </div>
        </div>

        <div
            class="grid grid-cols-1 gap-4 md:grid-cols-3 border-b pb-8 border-base-200"
        >
            <div>
                <h1
                    class="text-xs 2xl:text-lg text-base-900 font-bold uppercase"
                >
                    {SITE_OCCUPATION}
                </h1>
            </div>
            <div class="lg:col-span-2">
                <p class="text-sm 2xl:text-xl text-base-600">{SITE_BIO}</p>
            </div>
        </div>
    </div>
</section>

<style>
    .h-dvh {
        min-height: 100dvh;
    }

    h1 {
        margin: 0;
    }

    .grid {
        max-width: 100%;
    }
</style>
